/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}

/* Светлая и темная темы */
.dark-theme {
    background-color: #333;
    color: #fff;
}

.light-theme {
    background-color: #cfcfcf;
    color: #000;
}

/* Шапка */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Профиль */
#bio-tile {
    background-color: #8a8a8a;
    border-radius: 15px;
    padding: 10px;
    margin: 10px auto;
    max-width: 610px;
    text-align: center;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.logo-image {
    border-radius: 10%;
    width: 50px;
    height: 50px;
}

/* Ссылки на социальные сети */
#social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.social-link {
    display: block;
    width: 70px;
    height: 80px;
    background-color: #8a8a8a;
    line-height: 80px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s;
}

.social-link:hover {
    background-color: #ccc;
}

.social-link i {
    transition: transform 0.3s, filter 0.3s;
}

.social-link:hover i {
    transform: scale(1.1);
}

.dark-theme .social-link i {
    filter: invert(100%);
}

/* Стили для радиокнопок переключения темы */
.theme-switcher {
    display: flex;
    gap: 10px;
    align-items: center;
}

.theme-switcher input[type="radio"] {
    display: none;
}

.theme-switcher label {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.theme-switcher input[type="radio"]:checked + label {
    background-color: #ddd;
    border-color: #bbb;
}


/* Медиа-запросы для мобильных устройств */

    /* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {



#social-links {
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: center; /* Центрирование иконок по горизонтали */
    gap: 5px; /* Расстояние между иконками */
}

.social-link {
    width: 60px; /* Меньше размер для мобильных устройств */
    height: 60px; /* Меньше размер для мобильных устройств */
    line-height: 60px; /* Высота строки соответствует высоте блока */
}
}


/* отвечает за отображение и расположение версии */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px; /* Задайте высоту футера */
    text-align: right;
    padding: 1px ;
}
