body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    transition: background-color 0.3s;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    padding: 10px;
}

.theme-switcher label {
    font-family: 'MuseoModerno';
    font-size: 16px; /* Добавляем размер шрифта */
    padding: 5px 10px; /* Добавляем отступы */
    margin: 0;
    transition: background-color 0.3s;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

/* Светлая и темная темы */
.dark-theme {
    background-color: #333;
    color: #fff;
}

.light-theme {
    background-color: #cfcfcf;
    color: #000;
}

.logo-image {
    border-radius: 10%;
    width: 50px;
    height: 50px;
    scale: 1.5;
}


.news-item {
    background-color: #8a8a8a; /* Используем цвет из вашего стиля */
    border-radius: 15px; /* Сохраняем стиль скругления */
    margin: 10px;
    max-width: 500px;
    overflow: hidden;
    transition: transform 0.3s; /* Добавляем плавное увеличение */
}


.news-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.news-content {
    padding: 10px;
    color: inherit; /* Цвет текста наследуется от темы */
}

.news-content h2, .news-content h3 {
    margin: 0;
    padding: 5px 0;
}

.news-content ul {
    padding-left: 20px;
}

.news-version {
    font-size: 0.8em;
    color: #555;
    padding: 5px;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .news-container {
        flex-direction: column;
        align-items: center;
    }

    .news-item {
        width: 90%; /* Занимает большую часть ширины экрана */
    }
}
/* Стили для сайдбара */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Стили для ссылок в сайдбаре */
  .sidebar a {
    font-family: 'MuseoModerno';
    margin: 0;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* При наведении мыши ссылки будут менять цвет */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Кнопка закрытия сайдбара */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Стиль для кнопки, которая будет открывать сайдбар */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Стиль для основного содержимого страницы, когда сайдбар открыт */
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* Добавьте медиа-запросы для того, чтобы сайдбар был меньше на маленьких экранах */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  
  .dark-theme .social-link i {
    filter: invert(100%);
}

/* Стили для радиокнопок переключения темы */
.theme-switcher {
    display: flex;
    gap: 10px;
    align-items: center;
}

.theme-switcher input[type="radio"] {
    display: none;
}

.theme-switcher label {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.dark-theme .theme-switcher label {
    border-color: #fff;
}

.dark-theme .theme-switcher input[type="radio"]:checked + label {
    background-color: #8a8a8a;
    border-color: #ffffff;
}

.light-theme .theme-switcher input[type="radio"]:checked + label {
    background-color: #8a8a8a;
    border-color: #000000;
}    

/* Стили для переключателя темы */
.theme-switcher {
    position: absolute; /* Позиционирование относительно ближайшего относительно позиционированного родителя */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    z-index: 10; /* Убедитесь, что переключатель темы находится над другими элементами */
}

    /* Медиа-запросы для мобильных устройств */
    @media (max-width: 768px) {
        #social-links {
            flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
            justify-content: center; /* Центрирование иконок по горизонтали */
            gap: 5px; /* Расстояние между иконками */
        }
        
        .social-link {
            width: 60px; /* Меньше размер для мобильных устройств */
            height: 60px; /* Меньше размер для мобильных устройств */
            line-height: 60px; /* Высота строки соответствует высоте блока */
        }
        }

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


.logo-image {
    margin-top: 5px;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    scale: 1;
}

a { color: inherit; }