/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}

/* Светлая и темная темы */


.dark-theme {
    background-color: #333;
    color: #fff;
}

.light-theme {
    background-color: #cfcfcf;
    color: #000;
}

/* Шапка */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Профиль */
#bio-tile {
    background-color: #8a8a8a; /* Цвет фона плитки */
    border-radius: 15px; /* Закругленные углы плитки */
    padding: 10px; /* Внутренние отступы плитки */
    margin: 10px auto; /* Отступы вокруг плитки */
    max-width: 610px; /* Максимальная ширина плитки */
    text-align: center; /* Выравнивание текста внутри плитки */
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px; /* Отступ между аватаром и плиткой */
}

.logo-image {
    border-radius: 10%; /* Дает круглую форму изображению */
    width: 50px; /* Установите желаемую ширину */
    height: 50px; /* Установите желаемую высоту */
}
/* Ссылки на социальные сети */
#social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.social-link {
    display: block;
    width: 70px;
    height: 80px;
    background-color: #8a8a8a;
    line-height: 80px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s;
}

.social-link:hover {
    background-color: #ccc;
}

.social-link i {
    transition: transform 0.3s, filter 0.3s;
}

.social-link:hover i {
    transform: scale(1.1);
}

.dark-theme .social-link i {
    filter: invert(100%);
}

/* Стили для радиокнопок переключения темы */
.theme-switcher {
    display: flex;
    gap: 10px;
    align-items: center;
}

.theme-switcher input[type="radio"] {
    display: none;
}

.theme-switcher label {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.theme-switcher input[type="radio"]:checked + label {
    background-color: #ddd;
    border-color: #bbb;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 10px 0;

}