body {
    font-family: 'MuseoModerno';
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    padding: 10px;
    margin: 0;
    transition: background-color 0.3s;
}

/* Светлая и темная темы */
.dark-theme {
    background-color: #333;
    color: #fff;
}

.light-theme {
    background-color: #cfcfcf;
    color: #000;
}

/* Шапка */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Профиль */
#bio-tile {
    background-color: #8a8a8a;
    border-radius: 15px;
    padding: 10px;
    margin: 10px auto;
    max-width: 610px;
    text-align: center;
}

#profile {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.logo-image {
    margin-top: 5px;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    scale: 1;
}

/* Ссылки на социальные сети */
#social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.social-link {
    display: block;
    width: 70px;
    height: 80px;
    background-color: #8a8a8a;
    line-height: 80px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s;
    color: #000000;
}

.social-link:hover {
    background-color: #ccc;
}

.social-link i {
    transition: transform 0.3s, filter 0.3s;
}

.social-link:hover i {
    transform: scale(1.1);
}

.dark-theme .social-link i {
    filter: invert(100%);
}

/* Стили для радиокнопок переключения темы */
.theme-switcher {
    display: flex;
    gap: 10px;
    align-items: center;
}

.theme-switcher input[type="radio"] {
    display: none;
}

.theme-switcher label {
    font-family: 'MuseoModerno';
    font-size: 16px; /* Добавляем размер шрифта */
    padding: 5px 10px; /* Добавляем отступы */
    margin: 0;
    transition: background-color 0.3s;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.dark-theme .theme-switcher label {
    border-color: #fff;
}

.dark-theme .theme-switcher input[type="radio"]:checked + label {
    background-color: #8a8a8a;
    border-color: #ffffff;
}

.light-theme .theme-switcher input[type="radio"]:checked + label {
    background-color: #8a8a8a;
    border-color: #000000;
}

/* Медиа-запросы для мобильных устройств */

    /* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {



#social-links {
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: center; /* Центрирование иконок по горизонтали */
    gap: 5px; /* Расстояние между иконками */
}

.social-link {
    width: 60px; /* Меньше размер для мобильных устройств */
    height: 60px; /* Меньше размер для мобильных устройств */
    line-height: 60px; /* Высота строки соответствует высоте блока */
}
}


/* отвечает за отображение и расположение версии */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px; /* Задайте высоту футера */
    text-align: right;
    padding: 1px ;
}


/* Стили для сайдбара */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Стили для ссылок в сайдбаре */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* При наведении мыши ссылки будут менять цвет */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Кнопка закрытия сайдбара */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Стиль для кнопки, которая будет открывать сайдбар */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Стиль для основного содержимого страницы, когда сайдбар открыт */
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* Добавьте медиа-запросы для того, чтобы сайдбар был меньше на маленьких экранах */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }